div.column {
    float: none;
    width: 280px;
    margin: 0px 10px 20px 10px;
}

#mobile_links {
    display: block;
}

*.screen_only {
    display: none;
}


div.preparation {
    margin: 0px 10px 30px 10px;
    width: 280px;
    clear: both;
}

div.header {
    margin: 0px;
    padding: 2px 0px 0px 0px;
    margin-bottom: 5px;
    clear: both;
    position: relative;
    background-color: #111;
    font-size: 12px;
}
    .header h1 {
        margin-top: 0px;
        font-size: 20px;
    }